a {
	display: inline-block;
	padding: 12px 24px;
	background-color: #1abc9c;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 50px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

a:hover {
	transform: translateY(-2px);
	box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
	background-color: #148f77;
}
h1, h2, h3, p, a {
    font-family: Arial;
}
